//Color variable overrides
$primary: #4f772d;
$secondary: #90a955;
$dark: #193819;
$black: #0d1c0d;
$light: #ecf39e;
$light-bg-subtle: #dee5cc;
$warning: #c88400;

// Custom variables
$font-headline: 'Poppins', sans-serif;
$font-subheadline: Verdana, sans-serif;
$box-shadow: 0 0.5rem 1rem rgba($black, 0.4);

// Override Bootstrap
$font-family-base: Arial, sans-serif;

@import '../node_modules/bootstrap/scss/bootstrap';
