@import url('../node_modules/bootstrap-icons/font/bootstrap-icons.css');
@import 'custom';

@import 'layout/header';
@import 'layout/footer';

//-------------------------- PAGE STYLE ----------------------------
@import 'pages/404';
@import 'pages/home';
@import 'pages/contact';
@import 'pages/globalMenuView';

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

// Prend toute la place disponible dans le conteneur
#main-page {
  position: relative;
  flex: 1;
  &::before {
    content: '';
    inset: 0;
    background-color: #dee5cc;
    position: absolute;
  }

  > * {
    position: relative;
  }
}

h1 {
  font-family: $font-headline;
  color: $primary;
  font-size: 36px;
}

h2 {
  font-family: $font-subheadline;
  font-size: 24px;
}

h3 {
  font-family: $font-family-base;
  font-size: 20px;
}

.form-logo-size {
  width: 100px;
  height: 100px;
}

.form-display {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.form-display label {
  color: $primary;
}

.form-display input,
.form-display textarea {
  border-radius: 5px;
  border: 1px solid $secondary;
  margin-bottom: 20px;

  &::placeholder {
    color: $primary;
    opacity: 0.8;
    font-size: 16px;
  }
}
