@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import "custom";


@import "layout/header";
@import "layout/footer";

//-------------------------- PAGE STYLE ----------------------------
@import "pages/404";
@import "pages/home";

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

// Prend toute la place disponible dans le conteneur
#main-page {
  flex: 1;
}

h1 {
  font-family: $font-headline;
  color: $primary;
  font-size: 36px;
}

h2 {
  font-family: $font-subheadline;
  font-size: 24px;
}

h3 {
  font-family: $font-family-base;
  font-size: 20px;
}
