html, body {
  min-height: 100%;
}

// --------------------------------BIGTITLE-----------------------------------
.bigtitle-title{
    color: white;
}

.logo-size {
    width: 360px;
    height: 250px;
}

.bigtitle {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/pictures/homepage-bigtitle.jpg);
    background-size: cover;
    filter: brightness(0.5);
    background-position: 50% 20%;
  }

  * {
    //Positionner les éléments devant le ::before
    position: relative;
  }

  .bigtitle-content {
    height: 626px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


// -------------------------------FIRST ARTICLE---------------------------

// Style du bouton
.button {
  font-family: $font-family-base;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 40px;
}


@media (max-width: 768px) {
  #welcome-info-part p {
    text-align: justify;
    margin-top: 2rem;
  }
  .button-layout-sm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


//------------------------------------------ SECOND ARTICLE ----------------------------------------

.key-point-part-bg {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url(../assets/pictures/table.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% 64%;

    filter: brightness(0.8);
  }

  // tous les éléments au-dessus du background ne sont pas impacté par ce qu'il y a dans le before
  > * {
    position: relative;
  }

  .key-point-title-color {
    color: $light;
  }

  h2 span {
    position: absolute;
  }

  .img-card {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 4 / 5;
      object-fit: cover;
      filter: brightness(0.3);
    }

    &-content {
      /* Explication de la position absolute:
      2 voitures sur une route ne peuvent pas être l'une sur l'autre parce qu'elles sont relatives
      mais un avion peut être au dessus d'une voiture, il est absolue, rien ne peux le toucher
      */
      position: absolute;
      inset: 0;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      color: white;
    }

    //Etat initial
    &-title {
      margin: 0;
      transform: translateY(3rem);
      transition: 0.4s;
    }

    &-text-hover {
      opacity: 0;
      margin: 0;
      margin-top: 1rem;
      transform: translateY(2.5rem);
      transition: 0.4s;
    }

  }

  .img-card:hover .img-card-title {
    transform: translateY(0);
  }

  .img-card:hover .img-card-text-hover {
    opacity: 1;
    transform: translateY(0);
  }

  @media (max-width: 1200px) {
    &::before { background-position: 30% 66%; }
  }

  @media (max-width: 992px) {
    &::before { background-position: 30% 69%; }
  }

  @media (max-width: 768px) {
    &::before {
      background-image: none;
      background-color: $light;
      opacity: 0.3;
      filter: none;
    }

    .key-point-title-color {
      color: $primary !important;
    }
  }
}

.mt-6 {
  margin-top: 8rem !important;
}


//---------------------------------- THIRD ARTICLE------------------------------

.article-type-event{
  line-height: 1.3;
}

.button-type-event-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-same {
  width: 100%;
  aspect-ratio: 5 / 3;   // même ratio pour les 2
  object-fit: cover;
}

.mid-pic {
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 768px) {
  #type-event-part p {
    margin-top: 0.5rem;
  }
}
