#page-in-construction {
  min-height: 100%;
  display: flex !important;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#page-in-construction p {
  color: $primary;
}
